@page "/artikel/update/{id:int}"
@inject HttpClient http
@inject NavigationManager navi
@inject IJSRuntime js

<h3>ArtikelUpdate</h3>

<FormArtikel ButtonText="Bearbeiten" artikel="@artikeltoAddDto"
                                              Submit="@UpdateArtikel" />

@code {
    [Parameter]
    public int Id{ get; set; }
    ArtikeltoAddDto artikeltoAddDto = new ArtikeltoAddDto();
    protected override async Task OnParametersSetAsync()
    {
        artikeltoAddDto = await http.GetFromJsonAsync<ArtikeltoAddDto>($"api/artikel/{Id}");
    }

    async Task UpdateArtikel()
    {
        await http.PutAsJsonAsync("api/artikel", artikeltoAddDto);
        await js.InvokeVoidAsync("alert", $"Artikel erfolgreich geupdeted");
        navi.NavigateTo("artikel");
    }



}
