@page "/Kasse"
@inherits KasseBase

<h2 class="mb-5">Kasse</h2>
<div class="row">
    <div class="col-md-6">
        <h3 class="mb-2">Bezahlungsart</h3>
        <div id="smart-button-container">
        <input type="hidden" name="descriptionInput" id="description" @bind="BezahlungsBezeichnung"/>
        <input name="amountInput" type="hidden" id="amount" @bind="BezahlungsHoehe">
        <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
        </div>
    </div>
@if(warenkorbItemDtos== null)
{
    <Spinner/>
}
else
{
    <div class="col-md-6">

        <h2 class="mb-2">Gesamtesumme</h2>
            @if(warenkorbItemDtos.Count() > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Artikel</th>
                            <th>Prise</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in warenkorbItemDtos)
                        {
                           <tr>
                               <td>@item.ArtikelMenge @item.ArtikelName</td>
                               <td>@item.Gesamtpreis.ToString("C")</td>
                           </tr> 
                        }
                        <tr>

                            <td><b>Gesamt</b></td>
                            <td><b>@BezahlungsHoehe.ToString("C")</b></td>
                        </tr>
                    </tbody>
                </table>
            }
            else
            {
               <p>Ihr Warenkorb ist leer!</p> 
            }

    </div>
}
</div>

