@inherits LayoutComponentBase

       <NavMenu/>
       <div class="main">
           @Body
       </div>
   

    
      

   

           @*  <li class="nav-item">
                  <a class="nav-link" href="Warenkorb">
              <WarenkorbMenu />
               </a>
             </li>*@

  


    
