@inherits LayoutComponentBase


<PageTitle>LaliWebShop.Server</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <EinloggenDisplay></EinloggenDisplay>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
