<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LaliWebShop.Server</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<AuthorizeView Roles="@roleAdmin">
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="artikel">
                <span class="oi oi-data-transfer-upload" aria-hidden="true"></span> Artikel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/kategorie">
                <span class="oi oi-book" aria-hidden="true"></span> Kategorie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/bestellungList">
                <span class="oi oi-book" aria-hidden="true"></span> Bestellungen
            </NavLink>
        </div>
      
    </nav>
</div>
</AuthorizeView>



@code {
    private string roleAdmin = Lali.Common.SD.Role_Admin;
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
